@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-white
}

.dark body {
  @apply bg-gray-700
}

.dark p, .dark span, .dark h1, .dark h2, .dark h3, .dark h4 {
  @apply text-white
}

html, body {
  margin: 0;
  padding: 0;
}


.toggle-checkbox:checked {
  right: 0;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #4B5563; /* Color when dark mode is active */
}

.toggle-checkbox {
  right: 0;
  border-color: #4B5563;
  opacity: 0; /* Hide the default checkbox */
  width: 100%; /* Cover the entire area for click efficiency */
  height: 100%;
  z-index: 2; /* Ensure it's clickable */
}

.toggle-label {
  display: grid;
  place-items: center;
  transition: background-color 0.2s;
}
